@model Recipe
@{
    ViewData["Title"] = "Delete Recipe";
}
<h1>Delete This Entry?</h1>
<div class="alert alert-danger" role="alert">
    This action cannot be undone!
</div>
<div class="card mb-4 mt-2 shadow">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.Image" class="img-fluid rounded-start" style="object-fit: cover; height: 100%;" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title mb-3">@Model.Name</h3>
                <h5 class="card-title">Description</h5>
                <p class="card-text">@Model.Description</p>
                <h5 class="card-title">Ingredients:</h5>
                <p class="card-text">@Model.Ingredients</p>
                <h5 class="card-title">Time Estimate</h5>
                <p class="card-text">@Model.TimeEstimate minutes</p>
                <p class="card-text"><small class="text-muted">Added by @Model.Author</small></p>
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="id" />

    <button type="submit" class="btn btn-outline-danger" style="font-size: 24px;">Delete Recipe</button>
    <a asp-controller="recipe" asp-action="List" class="btn btn-outline-secondary" style="font-size: 24px;">Cancel</a>
</form>


